.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.productcontainer {
  width: 24%;
  height: 350px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.product {
  width: 100%;
  height: 100%;
  border: 1px solid navy;
  text-align: center;
}
.productcontainer h3 {
  height: 20%;
  margin: 0px;
  overflow: hidden;
}
.productcontainer img {
  width: 90%;
  height: 65%;
}

a {
  text-decoration: none;
}
a:focus {
  color: blue;
}
/* product details */

#product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.image {
  width: 30%;
  height: 45vh;
  margin: 20px;
}
.image img {
  width: 100%;
  height: 100%;
}
.title {
  width: 55%;
  margin: 20px;
}
.title h2 {
  color: navy;
}
.details {
  color: navy;
  width: 100%;
  margin: 40px;
}

button {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  cursor: pointer;
}

.menu {
  margin: 20px 0px;
  padding: 0px 10px;
}
