/* nav bar */
nav a{
text-decoration: none;
margin-right:30px;
font-size:30px
}
nav{
    background-color: #ccc;
}

nav a.active{
  color:gold;
  text-decoration: underline;
}

/* nav a:focus{
    color: blue;
} */

.nav-bar{
  margin-bottom: 50px !important;
}

.navBar{
  margin-bottom: 0px !important;
}