/* nav bar */
nav a {
  text-decoration: none;
  margin-right: 30px;
  font-size: 30px;
}
nav {
  background-color: #ccc;
}

nav a.active {
  color: gold;
  text-decoration: underline;
}


.nav-bar {
  margin-bottom: 50px !important;
}

.navBar {
  margin-bottom: 0px !important;
}
/* nav bar with home */
.position{
  position: absolute;
  top: 0px;
}
.transparent{
  background-color:transparent !important ;
  box-shadow: none !important
}
/* carousel */
.slider-content {
  width:100%;
  height: 100% !important; 
}
.slider-content img{
  width:100%;
  height: 100% !important; 
}

/* footer */
.list{
background-color:transparent;
color:white
}
.list ul , .list2 ul{
list-style: none;
}
.list p , .list2 p{
margin-bottom: 20px;
color:white
}
.list ul li a,.list2 ul li a{
color: white;
font-size: small;
}
.list ul li a:hover,.list2 ul li a:hover{
text-decoration: underline;
}
.footer{
  margin-top: 50px !important;
  width: fit-content;
  margin: auto;
  color: white;
  text-align: center;
}
.footer a{
  color: white;
  margin:0px 10px;
  text-decoration: underline;
}

/* brands */
.brands{
  padding: 0px 5%;
  margin-bottom: 50px;
}
.brands h2{
  margin:0px
}
.brands img{
  /* border-radius:50%; */
  height:100px;
  width:100%
}