/* nav bar */
nav a {
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
  color: Navy;
}

nav a.active {
  color: gold;
  text-decoration: underline;
}
.logout{
  color:navy !important;
  text-decoration: none !important;
}

/* nav bar with home */
/* .position{
  position: absolute;
  top: 0px;
}
.transparent{
  background-color:transparent !important ;
  box-shadow: none !important
} */

/* carousel */
.slider-content {
  width:100%;
  height: 100% !important; 
}
.slider-content img{
  width:100%;
  height: 100% !important; 
  object-fit: 100% 100%;
}
/* multi carousel */
.multiCar{
  margin-top: 50px;
  margin-bottom: 80px;
  border:1px solid #ccc
}

.calousel-item{
text-align: center;
height:380px !important;
padding: 0px 10px;
}
.item-content{
width:100%;
height:100% ;
border:1px solid navy;
box-sizing: border-box;
border-radius: 10px;
}
.item-content img{
width:80%;
height:80% !important
}
.title{
  color:navy
}
/* footer */
.list{
background-color:transparent;
color:white
}
.list ul {
list-style: none;
}
.list p {
margin-bottom: 20px;
color:white
}
.list2-item{
  width: 100%;
   display:flex;
   flex-direction:column;
   align-items:center
}
.list2-item h5{
  margin:0px
}
.list ul li a,.list2-item{
color: white;
font-size: small;
}
.list ul li a:hover,.list2-item:hover{
text-decoration: underline;
}
.footer{
  margin-top: 50px !important;
  width: fit-content;
  margin: auto;
  color: white;
  text-align: center;
}
.footer a{
  color: white;
  margin:0px 10px;
  text-decoration: none;
}
.footer a:hover{
  text-decoration:underline;
}

/* brands */
.brands{
  padding: 0px 5%;
  margin-bottom: 50px;
}
.brands h1{
  color:navy
}
.brands img{
  height:100px;
  width:100%
}

/* multi-carousel */
.calousel-item {
  height:250px;
  overflow: hidden;
}
.calousel-item img{
height: 100%;
}

/* toast */
.toast {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.toast-disappear {
display:none
}